Package: calamares
Version: 3.3.14-0ubuntu25.26.04.1
Architecture: amd64
Maintainer: Lubuntu Developers <lubuntu-devel@lists.ubuntu.com>
Installed-Size: 8021
Depends: calamares-data (= 3.3.14-0ubuntu25.26.04.1), libcalamares3.3 (= 3.3.14-0ubuntu25.26.04.1), libcalamaresui3.3 (= 3.3.14-0ubuntu25.26.04.1), os-prober, util-linux-extra, libappstreamqt3 (>= 1.1.2), libc6 (>= 2.34), libcrypt1 (>= 1:4.1.0), libgcc-s1 (>= 3.3.1), libicu78 (>= 78.1-1~), libkf6configcore6 (>= 6.0.0), libkf6coreaddons6 (>= 6.0.0), libkf6crash6 (>= 6.0.0), libkf6package6 (>= 6.0.0), libkf6parts6 (>= 6.0.0), libkpmcore13 (>= 25.04.0), libparted2t64 (>= 3.1), libpwquality1 (>= 1.1.0), libqt6core6t64 (>= 6.10.2), libqt6dbus6 (>= 6.5.0), libqt6gui6 (>= 6.9.1), libqt6network6 (>= 6.5.0), libqt6qml6 (>= 6.6.0), libqt6quick6 (>= 6.6.0), libqt6quickwidgets6 (>= 6.6.0), libqt6widgets6 (>= 6.7.2), libqt6xml6 (>= 6.6.0), libstdc++6 (>= 14), libyaml-cpp0.8 (>= 0.7.0)
Recommends: btrfs-progs, squashfs-tools
Breaks: calamares (<< 3.3.14-0ubuntu4)
Replaces: calamares (<< 3.3.14-0ubuntu4)
Section: utils
Priority: optional
Homepage: https://github.com/calamares/calamares
Description: distribution-independent installer framework
 Calamares is a distribution-independent installer framework.
 .
 It provides a graphical installer that can be used with nearly
 any distribution. This package is suitable for live media on
 Debian-based systems, and won't be of any particular use on
 an already installed system.
 .
 You will likely want to provide your own config files to match
 your distribution, reading the Calamares documentation will guide
 you through that process.
Original-Maintainer: Jonathan Carter <jcc@debian.org>
